.card{
    display: flex;
    gap: 16px;
    align-items: center;
    border: 1px solid gainsboro;
    padding: 16px;
    border-radius: 10px;
}
.card img{
    width: 65px;
    height: 55px;
    border-radius: 12px;
}

.card .price{
    color: rgb(61, 61, 239);
    font-size: 14px;
}
.card .item p{
    font-size: 14px;
}